.running-play-list-buttons{
    margin: 50px;
}

.running-play-list-buttons-style{
    margin-left: 10px;
    margin-right: 10px;
}

.running-play-list-table{
    margin-left: 50px;
    margin-right: 50px;
}